<!--BEGIN TOPBAR-->
<div id="header-topbar-option-demo" class="page-header-topbar">
    <nav id="topbar" role="navigation" style="margin-bottom: 0; z-index: 2;"
         class="navbar navbar-default navbar-static-top">
        <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target=".sidebar-collapse" class="navbar-toggle"><span
                    class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                    class="icon-bar"></span><span class="icon-bar"></span></button>
            <a id="logo" href="index.html" class="navbar-brand"><span class="fa fa-rocket"></span><span
                    class="logo-text">µAdmin</span><span style="display: none" class="logo-text-icon">µ</span></a>
        </div>
        <div class="topbar-main"><a id="menu-toggle" href="#" class="hidden-xs"><i class="fa fa-bars"></i></a>
            <ul class="nav navbar-nav    ">
                <li class="active"><a href="index.html">Dashboard</a></li>
                
            </ul>
            <!-- <form id="topbar-search" action="#" method="GET" class="hidden-xs">
                <div class="input-group"><input type="text" placeholder="Search..." class="form-control"/><span
                        class="input-group-btn"><a href="javascript:;" class="btn submit"><i
                        class="fa fa-search"></i></a></span></div>
            </form> -->
            
        </div>
    </nav>
    <!--BEGIN MODAL CONFIG PORTLET-->
    <div id="modal-config" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 class="modal-title">Modal title</h4></div>
                <div class="modal-body"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend et
                    nisl eget porta. Curabitur elementum sem molestie nisl varius, eget tempus odio molestie. Nunc
                    vehicula sem arcu, eu pulvinar neque cursus ac. Aliquam ultricies lobortis magna et aliquam.
                    Vestibulum egestas eu urna sed ultricies. Nullam pulvinar dolor vitae quam dictum condimentum.
                    Integer a sodales elit, eu pulvinar leo. Nunc nec aliquam nisi, a mollis neque. Ut vel felis
                    quis tellus hendrerit placerat. Vivamus vel nisl non magna feugiat dignissim sed ut nibh. Nulla
                    elementum, est a pretium hendrerit, arcu risus luctus augue, mattis aliquet orci ligula eget
                    massa. Sed ut ultricies felis.</p></div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!--END MODAL CONFIG PORTLET-->
</div>
<!--END TOPBAR-->
<!-- Wrapper Start From Here -->
<nav id="sidebar" role="navigation" class="navbar-default navbar-static-side">
    <div class="sidebar-collapse menu-scroll">
        <ul id="side-menu" class="nav">
            <li class="user-panel">
                <div class="thumb"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg"
                                        alt="" class="img-circle"/></div>
                <div class="info"><p>John Doe</p>
                    <ul class="list-inline list-unstyled">
                        <li><a href="extra-profile.html" data-hover="tooltip" title="Profile"><i
                                class="fa fa-user"></i></a></li>
                        <li><a href="email-inbox.html" data-hover="tooltip" title="Mail"><i
                                class="fa fa-envelope"></i></a></li>
                        <li><a href="#" data-hover="tooltip" title="Setting" data-toggle="modal"
                               data-target="#modal-config"><i class="fa fa-cog"></i></a></li>
                        <li><a href="extra-signin.html" data-hover="tooltip" title="Logout"><i
                                class="fa fa-sign-out"></i></a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </li>
            <li class="active"><a (click)="navigate('home')"><i class="fa fa-tachometer fa-fw">
                <div class="icon-bg bg-orange"></div>
            </i><span class="menu-title">Dashboard</span></a></li>
            
            
            <!--li.charts-sum<div id="ajax-loaded-data-sidebar"></div>--></ul>
    </div>
</nav>
<!--END SIDEBAR MENU--><!--BEGIN CHAT FORM-->
<div id="chat-form" class="fixed">
    <div class="chat-inner"><h2 class="chat-header"><a href="javascript:;" class="chat-form-close pull-right"><i
            class="glyphicon glyphicon-remove"></i></a><i class="fa fa-user"></i>&nbsp;
        Chat
        &nbsp;<span class="badge badge-info">3</span></h2>

        <div id="group-1" class="chat-group"><strong>Favorites</strong><a href="#"><span
                class="user-status is-online"></span>
            <small>Verna Morton</small>
            <span class="badge badge-info">2</span></a><a href="#"><span class="user-status is-online"></span>
            <small>Delores Blake</small>
            <span class="badge badge-info is-hidden">0</span></a><a href="#"><span
                class="user-status is-busy"></span>
            <small>Nathaniel Morris</small>
            <span class="badge badge-info is-hidden">0</span></a><a href="#"><span
                class="user-status is-idle"></span>
            <small>Boyd Bridges</small>
            <span class="badge badge-info is-hidden">0</span></a><a href="#"><span
                class="user-status is-offline"></span>
            <small>Meredith Houston</small>
            <span class="badge badge-info is-hidden">0</span></a></div>
        <div id="group-2" class="chat-group"><strong>Office</strong><a href="#"><span
                class="user-status is-busy"></span>
            <small>Ann Scott</small>
            <span class="badge badge-info is-hidden">0</span></a><a href="#"><span
                class="user-status is-offline"></span>
            <small>Sherman Stokes</small>
            <span class="badge badge-info is-hidden">0</span></a><a href="#"><span
                class="user-status is-offline"></span>
            <small>Florence Pierce</small>
            <span class="badge badge-info">1</span></a></div>
        <div id="group-3" class="chat-group"><strong>Friends</strong><a href="#"><span
                class="user-status is-online"></span>
            <small>Willard Mckenzie</small>
            <span class="badge badge-info is-hidden">0</span></a><a href="#"><span
                class="user-status is-busy"></span>
            <small>Jenny Frazier</small>
            <span class="badge badge-info is-hidden">0</span></a><a href="#"><span
                class="user-status is-offline"></span>
            <small>Chris Stewart</small>
            <span class="badge badge-info is-hidden">0</span></a><a href="#"><span
                class="user-status is-offline"></span>
            <small>Olivia Green</small>
            <span class="badge badge-info is-hidden">0</span></a></div>
    </div>
    <div id="chat-box" style="top:400px">
        <div class="chat-box-header"><a href="#" class="chat-box-close pull-right"><i
                class="glyphicon glyphicon-remove"></i></a><span class="user-status is-online"></span><span
                class="display-name">Willard Mckenzie</span>
            <small>Online</small>
        </div>
        <div class="chat-content">
            <ul class="chat-box-body">
                <li><p><img src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg"
                            class="avt"/><span class="user">John Doe</span><span class="time">09:33</span></p>

                    <p>Hi Swlabs, we have some comments for you.</p></li>
                <li class="odd"><p><img src="https://s3.amazonaws.com/uifaces/faces/twitter/alagoon/48.jpg"
                                        class="avt"/><span class="user">Swlabs</span><span
                        class="time">09:33</span></p>

                    <p>Hi, we're listening you...</p></li>
            </ul>
        </div>
        <div class="chat-textarea"><input placeholder="Type your message" class="form-control"/></div>
    </div>
</div>
<!-- End Wrapper -->